In [20]:
import sys
sys.path.append('D:/PythonStudy_Git/股票量化实践')
import df股票数据处理 as 处理
# import df寻求时机
# import df回测
df=处理.获取csv数据(保存路径='C:/Users/YcAllenEffy/Desktop/样本股603508.csv')
处理.时间格式处理(df)
df_all=df.copy()

# df=寻求时机.时机(df)
# 回测df.回测(df,df_all)

In [21]:
df

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change,年
0,2017-01-03,sh.603508,20170103093500000,69.041804,68.841480,27800,1911886.0,69.041804,68.631139,2017-01-03 09:35:00,-0.200324,-0.290149,2017
1,2017-01-03,sh.603508,20170103094000000,68.971691,68.921610,13500,926565.0,68.971691,68.681221,2017-01-03 09:40:00,-0.050081,-0.072611,2017
2,2017-01-03,sh.603508,20170103094500000,68.921610,69.071853,23200,1598602.0,69.081869,68.891561,2017-01-03 09:45:00,0.150243,0.217992,2017
3,2017-01-03,sh.603508,20170103095000000,69.051821,69.182032,30800,2127741.0,69.262161,69.051821,2017-01-03 09:50:00,0.130211,0.188570,2017
4,2017-01-03,sh.603508,20170103095500000,69.141967,69.091886,28200,1946039.0,69.141967,69.091886,2017-01-03 09:55:00,-0.050081,-0.072432,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50683,2021-09-10,sh.603508,20210910144000000,36.869570,36.825573,92400,2321242.0,36.898901,36.781576,2021-09-10 14:40:00,-0.043997,-0.119332,2021
50684,2021-09-10,sh.603508,20210910144500000,36.825573,36.898901,57100,1435371.0,36.898901,36.810907,2021-09-10 14:45:00,0.073328,0.199124,2021
50685,2021-09-10,sh.603508,20210910145000000,36.898901,36.825573,92700,2329371.0,36.898901,36.796241,2021-09-10 14:50:00,-0.073328,-0.198728,2021
50686,2021-09-10,sh.603508,20210910145500000,36.825573,36.825573,120000,3011523.0,36.825573,36.781576,2021-09-10 14:55:00,0.000000,0.000000,2021
50687,2021-09-10,sh.603508,20210910150000000,36.781576,36.810907,99100,2486247.0,36.825573,36.752244,2021-09-10 15:00:00,0.029331,0.079745,2021

In [16]:
import df寻求时机
df2=df寻求时机.时机(df,filter_time='201')
df2

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change,年,序号
序号索引,,,,,,,,,,,,,,
12821,2018-02-02,sh.603508,20180202100000000,35.265978,36.926145,220300,7963647.0,37.197809,35.265978,2018-02-02 10:00:00,1.660167,4.707561,2018,12821
13589,2018-07-03,sh.603508,20180703100000000,34.757311,36.360714,370300,13323958.0,36.989897,34.757311,2018-07-03 10:00:00,1.603403,4.613139,2018,13589
13741,2018-07-06,sh.603508,20180706104000000,40.034333,41.231812,353550,14317249.0,41.982772,40.034333,2018-07-06 10:40:00,1.197478,2.991128,2018,13741
17040,2018-10-30,sh.603508,20181030093500000,31.621542,32.839316,365895,11747947.0,33.468500,31.286654,2018-10-30 09:35:00,1.217774,3.851091,2018,17040
17096,2018-10-31,sh.603508,20181031101500000,32.068059,33.052427,170200,5512691.0,33.082871,32.068059,2018-10-31 10:15:00,0.984368,3.069620,2018,17096
17582,2018-11-14,sh.603508,20181114104500000,36.046122,37.020342,146001,5251640.0,37.020342,36.046122,2018-11-14 10:45:00,0.974220,2.702703,2018,17582
17761,2018-11-20,sh.603508,20181120094000000,38.451227,39.679149,234500,9059374.0,39.882112,38.451227,2018-11-20 09:40:00,1.227923,3.193455,2018,17761
17810,2018-11-21,sh.603508,20181121094500000,38.633893,39.983593,266880,10413412.0,39.983593,38.633893,2018-11-21 09:45:00,1.349700,3.493564,2018,17810

In [17]:
 def 回测7日峰值(df,df_all):
    
    for index,row in df.iterrows():
        
        峰值日=7
        峰值日期=df_all.iloc[index+(峰值日*48),9]
        start=1
        max_values=0
        start_index=index
        
        while start==1:
            index+=1
            if (峰值日期-df_all.iloc[index,9]).total_seconds()>0:
                if max_values<df_all.iloc[index,7]:
                    max_values=df_all.iloc[index,7]
            else:
                df.loc[start_index,'7日峰值']=round(max_values,2)
                df.loc[start_index,'7日峰值涨幅']=round((round(max_values,2)-df.loc[start_index,'high'])/df.loc[start_index,'high']*100,2)
                start=0
    return df

In [18]:

df2=回测7日峰值(df2,df_all)
df2

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change,年,序号,7日峰值,7日峰值涨幅
序号索引,,,,,,,,,,,,,,,,
12821,2018-02-02,sh.603508,20180202100000000,35.265978,36.926145,220300,7963647.0,37.197809,35.265978,2018-02-02 10:00:00,1.660167,4.707561,2018,12821,36.83,-0.99
13589,2018-07-03,sh.603508,20180703100000000,34.757311,36.360714,370300,13323958.0,36.989897,34.757311,2018-07-03 10:00:00,1.603403,4.613139,2018,13589,43.13,16.60
13741,2018-07-06,sh.603508,20180706104000000,40.034333,41.231812,353550,14317249.0,41.982772,40.034333,2018-07-06 10:40:00,1.197478,2.991128,2018,13741,43.13,2.73
17040,2018-10-30,sh.603508,20181030093500000,31.621542,32.839316,365895,11747947.0,33.468500,31.286654,2018-10-30 09:35:00,1.217774,3.851091,2018,17040,33.89,1.26
17096,2018-10-31,sh.603508,20181031101500000,32.068059,33.052427,170200,5512691.0,33.082871,32.068059,2018-10-31 10:15:00,0.984368,3.069620,2018,17096,33.89,2.44
17582,2018-11-14,sh.603508,20181114104500000,36.046122,37.020342,146001,5251640.0,37.020342,36.046122,2018-11-14 10:45:00,0.974220,2.702703,2018,17582,43.10,16.42
17761,2018-11-20,sh.603508,20181120094000000,38.451227,39.679149,234500,9059374.0,39.882112,38.451227,2018-11-20 09:40:00,1.227923,3.193455,2018,17761,43.10,8.07
17810,2018-11-21,sh.603508,20181121094500000,38.633893,39.983593,266880,10413412.0,39.983593,38.633893,2018-11-21 09:45:00,1.349700,3.493564,2018,17810,43.10,7.79

In [ ]:
df