In [1]:
# 登录初始化
import  tushare as ts
import pandas as pd
pd.set_option('display.max_rows', 20)
pro = ts.pro_api('3d98b14b34ae4c172fb871d1dcfebd9edecec57bc5c695afb822921b')#新接口初始化,带自己账号14739570251

In [4]:
pd.set_option('display.max_rows', 20)

# 个股获取
df = pro.daily_basic(ts_code='603508.SH',start_date='20160101', end_date='20160112', fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb,total_mv')
df

,ts_code,trade_date,turnover_rate,volume_ratio,pe,pb,total_mv
0,603508.SH,20160112,29.8214,20.42,83.2759,9.0981,1985760.0
1,603508.SH,20160111,5.7277,16.82,92.5288,10.1090,2206400.0
2,603508.SH,20160108,0.6391,2.84,84.1146,9.1897,2005760.0
3,603508.SH,20160107,0.2873,1.65,76.4654,8.3540,1823360.0
4,603508.SH,20160106,0.3553,3.35,69.5140,7.5945,1657600.0
5,603508.SH,20160105,0.2920,5.60,63.1933,6.9040,1506880.0
6,603508.SH,20160104,0.1285,4.30,57.4497,6.2765,1369920.0

In [ ]:
# 时间格式设置
df['时间']=pd.to_datetime(df['trade_date'])
df=df.sort_values('时间')
df

In [ ]:
# 画图
from matplotlib import pyplot as plt
import seaborn as sns
#设置画图 中文字体初始化
sns.set_style('whitegrid', {'font.sans-serif':['simhei', 'Arial']})
g=sns.lineplot(data=df2,y='pct_charge',x='时间')
g.figure.set_size_inches(15,10)