In [1]:
import pandas as pd
import numpy as np

In [3]:
boolean=[True,False]
gender=["男","女"]
color=["white","black","yellow"]
df1=pd.DataFrame({
    "height":np.random.randint(150,190,10),
    "weight":np.random.randint(40,90,10),
    "smoker":[boolean[x] for x in np.random.randint(0,2,10)],
    "gender":[gender[x] for x in np.random.randint(0,2,10)],
    "age":np.random.randint(15,90,10),
    "color":[color[x] for x in np.random.randint(0,len(color),10) ]
    }
)    
df2=pd.DataFrame({
    "height":np.random.randint(150,190,10),
    "weight":np.random.randint(40,90,10),
    "smoker":[boolean[x] for x in np.random.randint(0,2,10)],
    "gender":[gender[x] for x in np.random.randint(0,2,10)],
    "age":np.random.randint(15,90,10),
    "color2":[color[x] for x in np.random.randint(0,len(color),10) ]
    }
)

In [10]:
df2

   height  weight  smoker gender  age  color2
0     159      69    True      男   68   black
1     159      45   False      女   74   white
2     188      63   False      男   80   white
3     156      44    True      女   22  yellow
4     170      58   False      女   69   white
5     189      48    True      男   74   white
6     157      67   False      男   41   white
7     181      47   False      女   81   white
8     157      84    True      男   39  yellow
9     153      89   False      女   18  yellow

In [14]:
df2.iloc[4,4]=np.nan
df2

   height  weight  smoker gender   age  color2
0     159      69    True      男  68.0   black
1     159      45   False      女  74.0   white
2     188      63   False      男  80.0   white
3     156      44    True      女  22.0  yellow
4     170      58   False      女   NaN     NaN
5     189      48    True      男  74.0   white
6     157      67   False      男  41.0   white
7     181      47   False      女  81.0   white
8     157      84    True      男  39.0  yellow
9     153      89   False      女  18.0  yellow

In [16]:
df1['序号']=range(len(df1.index))
df1

   height  weight  smoker gender  age   color  序号
0     166      69   False      男   73   white   0
1     178      48   False      女   53  yellow   1
2     162      86   False      女   31   black   2
3     184      86   False      女   31   black   3
4     174      80   False      女   35  yellow   4
5     172      88   False      女   37   white   5
6     158      85    True      女   17   black   6
7     162      52   False      男   29   black   7
8     166      77   False      女   17   white   8
9     174      47   False      男   22   black   9

In [17]:
df2['序号']=range(len(df1.index))
df2

   height  weight  smoker gender   age  color2  序号
0     159      69    True      男  68.0   black   0
1     159      45   False      女  74.0   white   1
2     188      63   False      男  80.0   white   2
3     156      44    True      女  22.0  yellow   3
4     170      58   False      女   NaN     NaN   4
5     189      48    True      男  74.0   white   5
6     157      67   False      男  41.0   white   6
7     181      47   False      女  81.0   white   7
8     157      84    True      男  39.0  yellow   8
9     153      89   False      女  18.0  yellow   9

In [19]:
df1['序号']=df1['序号'].apply(str)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  10 non-null     int32
 1   weight  10 non-null     int32
 2   smoker  10 non-null     bool
 3   gender  10 non-null     object
 4   age     10 non-null     int32
 5   color   10 non-null     object
 6   序号      10 non-null     object
dtypes: bool(1), int32(3), object(3)
memory usage: 498.0+ bytes

In [20]:
df2['序号']=df2['序号'].apply(str)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  10 non-null     int32
 1   weight  10 non-null     int32
 2   smoker  10 non-null     bool
 3   gender  10 non-null     object
 4   age     10 non-null     int32
 5   color   10 non-null     object
 6   序号      10 non-null     object
dtypes: bool(1), int32(3), object(3)
memory usage: 498.0+ bytes

In [29]:
df_sum=pd.concat([df1,df2])

In [30]:
gb=df_sum.groupby('序号')
gb.mean()

    height  weight  smoker   age
序号
99    99.0    99.0    99.0  99.0
0    162.5    69.0     0.5  70.5
1    168.5    46.5     0.0  63.5
2    175.0    74.5     0.0  55.5
3    170.0    65.0     0.5  26.5
4    172.0    69.0     0.0  35.0
5    180.5    68.0     0.5  55.5
6    157.5    76.0     0.5  29.0
7    171.5    49.5     0.0  55.0
8    161.5    80.5     0.5  28.0
9    163.5    68.0     0.0  20.0

In [25]:
df_sum

   height  weight  smoker gender   age   color 序号  color2
0     166      69   False      男  73.0   white  0     NaN
1     178      48   False      女  53.0  yellow  1     NaN
2     162      86   False      女  31.0   black  2     NaN
3     184      86   False      女  31.0   black  3     NaN
4     174      80   False      女  35.0  yellow  4     NaN
5     172      88   False      女  37.0   white  5     NaN
6     158      85    True      女  17.0   black  6     NaN
7     162      52   False      男  29.0   black  7     NaN
8     166      77   False      女  17.0   white  8     NaN
9     174      47   False      男  22.0   black  9     NaN
0     159      69    True      男  68.0     NaN  0   black
1     159      45   False      女  74.0     NaN  1   white
2     188      63   False      男  80.0     NaN  2   white
3     156      44    True      女  22.0     NaN  3  yellow
4     170      58   False      女   NaN     NaN  4     NaN
5     189      48    True      男  74.0     NaN  5   white
6     157      67   False      男  41.0     NaN  6   white
7     181      47   False      女  81.0     NaN  7   white
8     157      84    True      男  39.0     NaN  8  yellow
9     153      89   False      女  18.0     NaN  9  yellow

In [28]:
df2.loc['go']=99
df2

    height  weight  smoker gender   age  color2  序号
0      159      69       1      男  68.0   black   0
1      159      45       0      女  74.0   white   1
2      188      63       0      男  80.0   white   2
3      156      44       1      女  22.0  yellow   3
4      170      58       0      女   NaN     NaN   4
5      189      48       1      男  74.0   white   5
6      157      67       0      男  41.0   white   6
7      181      47       0      女  81.0   white   7
8      157      84       1      男  39.0  yellow   8
9      153      89       0      女  18.0  yellow   9
go      99      99      99     99  99.0      99  99